# HappiEarth
<img src="logo.png" alt="LOGO" style="width: 250px;"/>


## How is happiness derived?

A few years ago, a project was initiated called the World Happiness Report. The aim was to quantitatively describe how happy people were across the world. HappiEarth aims to correlate this index with a myriad of statistics from across the world. These statistics range from government perception, all the way to chocolate consumption.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from sklearn import preprocessing as prp

%matplotlib inline

In [2]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly

plotly.tools.set_credentials_file(username='adverma98', api_key='FMUGLtV7GvFPYdWLcLlx')

In [3]:
def generate_map(z1, text1, colorscale1, colorbar_title1, title1, merged_data):
    data3 = [ dict(
        type = 'choropleth',
        locations = merged_data['CODE'],
        # visible = False,
        z = z1,
        text = text1,
        colorscale = colorscale1,
        autocolorscale = False,
        reversescale = False,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            title = colorbar_title1),
      ) ]

    layout3 = dict(
        title = title1,
        geo = dict(
            showframe = False,
            showcoastlines = False,
            projection = dict(
                type = 'Mercator'
            )
        )
    )

    return dict( data=data3, layout=layout3 )

## World Happiness Index

The initial plot of the WHI.

In [4]:
happy2015 = pd.read_csv("./data/world-happiness-report/2015.csv")
happy2016 = pd.read_csv("./data/world-happiness-report/2016.csv")
happy2017 = pd.read_csv("./data/world-happiness-report/2017.csv")
happy2017.rename(columns={'Happiness.Score':'Happiness Score'}, 
                 inplace=True)

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [22]:
merged_df_happy2015 = df.merge(happy2015, left_on="COUNTRY", right_on="Country", how="outer").sort_values(by= 'Happiness Score', ascending = True)
merged_df_happy2016 = df.merge(happy2016, left_on="COUNTRY", right_on="Country", how="outer").sort_values(by= 'Happiness Score', ascending = True)
merged_df_happy2017 = df.merge(happy2017, left_on="COUNTRY", right_on="Country", how="outer").sort_values(by= 'Happiness Score', ascending = True)
merged_df_happy2017.head()

,COUNTRY,GDP (BILLIONS),CODE,Country,Happiness.Rank,Happiness Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
39,Central African Republic,1.73,CAF,Central African Republic,155.0,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005
33,Burundi,3.04,BDI,Burundi,154.0,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
197,Tanzania,36.62,TZA,Tanzania,153.0,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
194,Syria,64.70,SYR,Syria,152.0,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
165,Rwanda,8.00,RWA,Rwanda,151.0,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061

In [7]:
map_data_2015 = generate_map(merged_df_happy2015['Happiness Score'], merged_df_happy2015['COUNTRY'], [[0, "rgb(80, 202, 206)"],[1, "rgb(251, 206, 17)"]], 
             'Happiness Index', 'Happiness Score by Country', merged_df_happy2015)
map_data_2016 = generate_map(merged_df_happy2016['Happiness Score'], merged_df_happy2016['COUNTRY'], [[0, "rgb(80, 202, 206)"],[1, "rgb(251, 206, 17)"]], 
             'Happiness Index', 'Happiness Score by Country', merged_df_happy2016)
map_data_2017 = generate_map(merged_df_happy2017['Happiness Score'], merged_df_happy2017['COUNTRY'], [[0, "rgb(80, 202, 206)"],[1, "rgb(251, 206, 17)"]], 
             'Happiness Index', 'Happiness Score by Country', merged_df_happy2017)

In [8]:
py.iplot(map_data_2017, validate=False, filename='happy-score-plot3')

# Environmental Performance Index

The Environmental Performance Index (EPI) aims to provide quantitative metrics for evaluating a country's environmental performance in different policy categories relative to clearly defined targets. The EPI ranks 180 countries on 24 performance indicators in the following 10 issue categories: air quality, water and sanitation, heavy metals, biodiversity and habitat, forests, fisheries, climate and energy, air pollution, water resources, and agriculture. Data is sourced from NASA and Columbia University.

In [9]:
epi = pd.read_excel("./data/2018-epi-xlsx/2018-epi.xlsx", sheet_name="2018EPI_ScoresCurrent")

In [10]:
epi = merged_df_happy2017.merge(epi, left_on="CODE", right_on="iso", how="outer")
epi['EPI_NORM'] = (epi['EPI.current'])/((epi['EPI.current']).max())

In [11]:
map_data_2017_EPI = generate_map(epi['EPI_NORM'], epi['COUNTRY'], [[0, "rgb(122, 103, 22)"],[0.65, "rgb(0, 204, 22)"],[1, "rgb(20, 255, 46)"]], 
             'Environment Performance Index', 'Normalized EPI by Country', epi)
py.iplot(map_data_2017_EPI, validate=False, filename='epi-norm-map')

## Government Performance Index (GPI)

The government performance index measures the trust in the government and percieved corruption, as well as the social freedom to make life choices. We believe that both of these are important properties of happiness. Data from Gallup polls across the world.

In [13]:
gpi = merged_df_happy2017

In [14]:
gpi['FREEDOM_NORM'] = (gpi['Freedom'])/(gpi['Freedom'].max())
gpi['TRUST_NORM'] = (gpi['Trust..Government.Corruption.'])/(gpi['Trust..Government.Corruption.'].max())
gpi['GPI'] = (gpi['TRUST_NORM'] + gpi['FREEDOM_NORM'])/2

In [15]:
figFreedom = generate_map(gpi['GPI'], gpi['COUNTRY'], [[0, "rgb(9, 44, 99)"],[0.4, "rgb(65, 133, 242)"],[1, "rgb(142, 183, 249)"]], 
             'Government Performance Index', 'Government Performance Index', gpi)
py.iplot(figFreedom, validate=False, filename='freedom-norm-map')

## Chocolate Performance Index

In [16]:
chocolate = pd.read_csv('./data/chocolate_data.csv')
chocolate = chocolate[(chocolate['Consumption Segment'] == 'All') & (chocolate["Measure Names"] == "US$")]
chocolate = chocolate.reset_index()[['Country', 'Measure Values']]
chocolate.head()

       Country  Measure Values
0  Afghanistan      221.877890
1      Albania       50.718386
2      Armenia       47.513463
3   Azerbaijan       11.006310
4   Bangladesh      300.027134

In [17]:
chocolate = chocolate.merge(df, left_on="Country", right_on="COUNTRY", how='outer')[['Country', 'Measure Values', 'CODE']]
len(chocolate)

231

In [18]:
chocolate['CHOC_NORM'] = (chocolate['Measure Values']) / (chocolate['Measure Values'].max())
chocolate.head()

       Country  Measure Values CODE  CHOC_NORM
0  Afghanistan      221.877890  AFG   0.039661
1      Albania       50.718386  ALB   0.009066
2      Armenia       47.513463  ARM   0.008493
3   Azerbaijan       11.006310  AZE   0.001967
4   Bangladesh      300.027134  BGD   0.053630

In [19]:
figChocolate = generate_map(chocolate['CHOC_NORM'], chocolate['Country'], [[0, "rgb(9, 44, 99)"],[0.4, "rgb(65, 133, 242)"],[1, "rgb(142, 183, 249)"]], 
             'Chocolate Performance Index', 'Chocolate Performance Index', chocolate)
py.iplot(figChocolate, validate=False, filename='chocolate-norm-map')

## Calculating Correlations

In [26]:
corr_df = gpi.merge(epi, left_on="CODE", right_on='CODE').merge(merged_df_happy2017, left_on='CODE', right_on='CODE').merge(chocolate, left_on='CODE', right_on='CODE')
corr_df = corr_df[['CODE', 'GPI', 'EPI_NORM', 'CHOC_NORM', 'Happiness Score']]
corr_df.corr()

                      GPI  EPI_NORM  CHOC_NORM  Happiness Score
GPI              1.000000  0.227511   0.000647         0.023081
EPI_NORM         0.227511  1.000000   0.038189         0.438330
CHOC_NORM        0.000647  0.038189   1.000000         0.001834
Happiness Score  0.023081  0.438330   0.001834         1.000000

From the above table, we see that the correlation between EPI norm and Happiness is very high! It means that the environment is a very important factor in people's happiness across the world!!